.page-builder-nav {
  display: flex;
  justify-content: center;
  margin: $gutter / 2 0;

  .nav-button {
    flex: 1;
    background-color: $accent-color-light;
    border-radius: 3px;
    color: $white;
    padding: 12px 30px;
    cursor: pointer;
    font-weight: 800;
    text-align: center;
    margin: 1px;
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }
    &.active {
      background-color: $accent-color;
    }

    &:hover {
      background-color: $accent-color;
    }
  }
}
