.logo-standard {

	#sdbgLogo {
		#bg {
			fill: white;
		}
		#text {
			fill: $sdbeerColorDarkBlue;
		}
		#outside-line {
			fill: $sdbeerColorDarkBlue;
		}
		#inside-line {
			fill: $sdbeerColorDarkBlue;
		}
	}//sdbgLogo



}
